steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # 1. Capture the short commit hash using GitHub Context (No git required)
    - name: Get Short SHA
      id: vars
      run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

    - name: Install Build Dependencies
      run: |
        dnf -y update
        # Added 'git' here just in case
        dnf -y install rpm-build rpmdevtools gcc make wget git
        
        # Install dependencies listed in your .spec file
        dnf -y install \
          autoconf \
          automake \
          gettext \
          libxml2-devel \
          libxkbfile-devel \
          intltool \
          perl \
          libxslt \
          xorg-x11-util-macros

    - name: Setup RPM Build Tree
      run: |
        rpmdev-setuptree
        cp SPECS/*.spec ~/rpmbuild/SPECS/
        cp SOURCES/* ~/rpmbuild/SOURCES/

    # 2. Modify the SPEC file to include the commit hash in the Release field
    # This ensures your RPM filename includes the hash (e.g. xkeyboard...git1a2b3c.rpm)
    - name: Update Spec Release
      run: |
        sed -i "s/^Release:.*/Release:        1.git${{ env.SHORT_SHA }}%{?dist}/" ~/rpmbuild/SPECS/xkeyboard-config-galliumos.spec

    - name: Download Remote Sources
      run: |
        spectool -g -R ~/rpmbuild/SPECS/xkeyboard-config-galliumos.spec
        mv *.tar.gz ~/rpmbuild/SOURCES/ || true

    - name: Build RPM
      run: |
        rpmbuild -ba ~/rpmbuild/SPECS/xkeyboard-config-galliumos.spec

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rpm-packages-${{ env.SHORT_SHA }}
        path: |
          ~/rpmbuild/RPMS/**/*.rpm
          ~/rpmbuild/SRPMS/*.rpm

    - name: Create Release
      # Only release on pushes to main
      if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.SHORT_SHA }}
        name: Build ${{ env.SHORT_SHA }}
        files: |
          /github/home/rpmbuild/RPMS/**/*.rpm
          /github/home/rpmbuild/SRPMS/*.rpm
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}